################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/FirstWebApp/.vs
/FirstWebApp/FirstWebApp/bin/Debug/net8.0
/FirstWebApp/FirstWebApp/obj
/Contoso2025/Contoso2025/.vs/Contoso2025
/Contoso2025/Contoso2025/Contoso2025/bin/Debug/net8.0
/Contoso2025/Contoso2025/Contoso2025/bin/Debug/net8.0/af/Humanizer.resources.dll
/Contoso2025/Contoso2025/Contoso2025/obj
/Contoso2025/Contoso2025/.vs/ProjectEvaluation
/IdentityApp25/.vs
/IdentityApp25/IdentityApp25/bin/Debug/net8.0
/IdentityApp25/IdentityApp25/obj
