@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <h4 class="display-4">Hello @ViewData["name"]!</h4>


    <h4 class="display-4">Theme from query string: @ViewData["theme"]</h4>


    <h4 class="display-4">Theme from cookies: @ViewData["theme2"]</h4>

</div>
