@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #1e1e1e;
        color: #f0f0f0;
        font-family: sans-serif;
    }
</style>
<div class="text-center navbar-dark">
    <h1 class="display-4">Welcome @ViewData["id"]</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

